<fieldset id="listado_de_dueños" class="">
	<legend>Listado de Dueños</legend>
	<table class="table table-striped">
		<tr>
			<th>Nombre</th>
			<th>Extensión</th>
			<th>Teléfono</th>
			<th>Email</th>
			<th>Editar</th>
		</tr>

		<% @owners.each do |owner| %>
			<tr>
				<td><%= link_to owner.name, owner %></td>
				<td><%= owner.ext %></td>
				<td><%= owner.phone %></td>
				<td><%= owner.email %></td>
				<td><%= link_to "Editar", edit_owner_path(owner), :class => "btn btn-primary btn-mini" %></td>
			</tr>
		<% end %>
	</table>

	<%= link_to "Nuevo Dueño", new_owner_path, :class => "btn btn-primary" %>
</fieldset>
