<%= form_for @server do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </p>
  <p>
    <%= f.label :place %><br />
    <%= f.text_field :place %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </p>
  <p>
    <%= f.label :features %><br />
    <%= f.text_area :features %>
  </p>
  <p>
    <%= f.label :serial_number %><br />
    <%= f.text_field :serial_number %>
  </p>
  <p>
    <%= f.label :date_adq %><br />
    <%= f.date_select :date_adq %>
  </p>
  <p>
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </p>
  <p>
    <%= f.label :dir_ilo %><br />
    <%= f.text_field :dir_ilo %>
  </p>
  <p>
    <%= f.label :hard_disks %><br />
    <%= f.number_field :hard_disks %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :os %><br />
    <%= f.text_field :os %>
  </p>
  <p>
    <%= f.label :lic_ilo %><br />
    <%= f.text_field :lic_ilo %>
  </p>
  <p><%= f.submit %></p>
<% end %>
