<%= simple_form_for @server, :html => { :class => 'well' } do |f| %>
	<fieldset id="" class="">
		<%= yield(:legend) %>
	</fieldset>
	<%= f.input :status, collection: [["Activo", true], ["Inactivo", false]], as: :radio %>
	<%= f.input :place, :label => 'Lugar de residencia' %>
	<%= f.input :name, :label => 'Nombre' %>
	<%= f.input :model, :label => 'Modelo' %>
	<%= f.input :features, :label => 'Caracteristicas (procesador y memoria)' %>
	<%= f.input :hard_disks, :label => 'Discos' %>
	<%= f.input :serial_number, :label => 'Número de serie' %>
	<%= f.input :date_adq, :label => 'Fecha de adquisión' %>
	<%= f.input :ip, :label => 'Dirección IP' %>
	<%= f.input :dir_ilo, :label => 'Dirección ILO' %>
	<%= f.input :user, :label => 'Usuario' %>
	<%= f.input :os, :label => 'Sistema Operativo' %>
	<%= f.input :lic_ilo, :label => 'Licencia ILO' %>
	<%= f.input :owner_tokens, :input_html => {:id => "owner_tokens", "data-pre" => @server.owners.map(&:attributes).to_json} %>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                servers_path, :class => 'btn' %>
  </div>
<% end %>
